<b> Clustering Analysis

In [7]:
from clustering_functions import *
%load_ext autoreload
%autoreload 2

The autoreload extension is already loaded. To reload it, use:
  %reload_ext autoreload

In [27]:
def clustering(path):
    df = preprocess(path)
    df['som_cluster'] = som_cluster(df,som_size=3, iterations=5000, sigma=1.0, learning_rate=0.5)['som_cluster']
    df['Kmeans_cluster'] = kmeans_clustering(df, n_clusters=9, random_state=42)['Kmeans_cluster']
    df['hierachical_cluster'] = hierarchical_clustering(df, n_clusters=9, linkage='ward')['hierarchical_cluster']

    return df

In [30]:
df= clustering('customers.csv')

,customer_id,customer_name,customer_gender,kids_home,teens_home,number_complaints,distinct_stores_visited,lifetime_spend_groceries,lifetime_spend_electronics,typical_hour,...,year_first_transaction,loyalty_card_number,latitude,longitude,customer_age,years_active,customer_educlevel,som_cluster,Kmeans_cluster,hierachical_cluster
0,0.857433,April Clark,1.005802,0.630498,1.397496,0.222470,0.696974,-0.746485,0.522647,-0.041676,...,0.723919,-1.473453,-1.210310,1.280858,-0.070294,-0.723919,None,"(0, 1)",7,0
1,-1.143473,Paul Ketchum,-0.994231,-0.905273,0.068770,-1.091753,0.696974,-0.702608,-1.013591,0.175439,...,-0.331683,0.678678,-0.613011,-0.272739,1.494428,0.331683,Bsc.,"(2, 1)",2,4
2,1.681529,Mary Downing,1.005802,0.630498,2.726221,-1.091753,2.650070,-0.349564,0.156665,0.175439,...,-0.753924,-1.473453,1.823423,0.400078,-1.020305,0.753924,None,"(0, 1)",1,0
3,0.132703,Manuel Kueny,-0.994231,-0.905273,-1.259955,0.222470,-1.256123,-0.459509,3.493829,0.175439,...,-1.176165,-1.473453,-0.281021,-0.116035,-0.293826,1.176165,None,"(1, 0)",5,8
4,-0.312366,Curtis Tharp,-0.994231,-0.137388,0.068770,0.222470,1.348006,1.359034,-0.140867,0.175439,...,-0.542804,0.678678,1.767444,0.312405,0.265003,0.542804,Phd.,"(1, 1)",8,3
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
34055,1.475526,Mary Diaz,1.005802,-0.137388,0.068770,-1.091753,-0.605091,2.022820,0.425769,0.609668,...,0.723919,-1.473453,0.136872,2.169138,-1.579134,-0.723919,None,"(0, 0)",6,1
34056,0.640352,John Gross,-0.994231,-0.137388,0.068770,-1.091753,0.045942,-0.325239,0.024460,-0.041676,...,0.935039,0.678678,-0.132179,-0.503135,-0.740890,-0.935039,None,"(1, 1)",8,3
34057,1.689232,Kathleen Harper,1.005802,-0.137388,-1.259955,0.222470,-0.605091,-0.399027,1.401167,0.826783,...,0.723919,-1.473453,0.927389,-0.633962,-1.635017,-0.723919,None,"(1, 0)",5,8
34058,-0.143409,Jenny Landry,1.005802,-0.137388,0.068770,0.222470,0.696974,0.758270,0.274519,-0.910135,...,0.090558,0.678678,-0.715458,0.028906,0.544418,-0.090558,Msc.,"(1, 1)",8,3
34059,0.175375,Roy Wilkins,-0.994231,0.630498,0.068770,1.536694,-1.256123,-0.725207,-1.012763,-1.127250,...,0.301678,-1.473453,-0.020555,0.046466,-1.243836,-0.301678,None,"(2, 0)",2,6