In [17]:
from sklearn.preprocessing import StandardScaler
from sklearn.preprocessing import MinMaxScaler
from sklearn.preprocessing import RobustScaler  
from sklearn.impute import SimpleImputer 
import pandas as pd
import numpy as np
from sklearn.feature_selection import VarianceThreshold
from sklearn.decomposition import PCA

In [30]:
def load_basket(filepath):
    basket = pd.read_csv(filepath)
    return basket

def load_info(filepath):
    info = pd.read_csv(filepath)
    return info

customer_info= load_info('customer_info.csv')
customer_basket = load_basket('customer_basket.csv')
customer_info.head()

   Unnamed: 0  customer_id  ...   latitude longitude
0           0        29930  ...  38.721807 -9.125534
1           1         6813  ...  38.734668 -9.163533
2           2        39451  ...  38.787126 -9.147077
3           3        21557  ...  38.741816 -9.159700
4           4        16415  ...  38.785921 -9.149221

[5 rows x 26 columns]

In [ ]:
def load_basket(filepath):
    basket = pd.read_csv(filepath)
    return basket

def load_info(filepath):
    info = pd.read_csv(filepath)
    return info

customer_info= load_info('customer_info.csv')
customer_basket = load_basket('customer_basket.csv')



def missing_values(df, strategy='median'):
    handled_missing = df.copy()
    
    # create new df for numeric and categorical columns
    num_cols = df.select_dtypes(include=['number']).columns
    cat_cols = df.select_dtypes(include=['object', 'category', 'bool']).columns

    # Use simple imputer to impute numeric columns by median
    if len(num_cols) > 0:
        num_imputer = SimpleImputer(strategy= 'median')
        handled_missing[num_cols] = num_imputer.fit_transform(df[num_cols])
    
    # Use simple imputer to impute categorical columns by most frequent
    if len(cat_cols) > 0:
        cat_imputer = SimpleImputer(strategy= 'most frequent')
        handled_missing[cat_cols] = cat_imputer.fit_transform(df[cat_cols])

    return handled_missing

def encoding():
    return df


def scalling(df, scaler = 'robust'):
    if scaler == 'minmax':
        scaler = MinMaxScaler()
    elif scaler == 'robust':
        scaler = RobustScaler()
    else:     
        scaler = StandardScaler()
    df_scaled = pd.DataFrame(scaler.fit_transform(df), columns=df.columns)
    return df_scaled


def preprocess(path):
    df = load_info(path)
    df = missing_values(df)
    df = scalling(df)
    return df

In [ ]:
def feature_selection(path, method, threshold=0.01, n_components=3, correlation_threshold=0.9):
    df = preprocess(path)
    original_features = df.columns.tolist()

    result_dict = {feature: False for feature in original_features} 

    if method == "variance":
        selected_features = df.columns[VarianceThreshold(threshold=threshold).fit(df).get_support()]
        result_dict.update({f: True for f in selected_features})
        return pd.Series(result_dict, name="Keep (Variance)")
    
    elif method == 'correlation':
        corr_matrix = df.corr().abs()
        to_drop = set()

        for i in range(len(corr_matrix.columns)):
            for j in range(i + 1, len(corr_matrix.columns)):
                col1 = corr_matrix.columns[i]
                col2 = corr_matrix.columns[j]
                if corr_matrix.iloc[i, j] > correlation_threshold:
                    to_drop.add(col2)  
        df_selected = df.drop(columns=list(to_drop))
        for f in df.columns:
            result_dict[f] = f not in to_drop
        return pd.Series(result_dict, name="Keep (Correlation)")

    elif method == "pca":
        pca = PCA(n_components=n_components)
        pca.fit(df)
        matrix = pd.DataFrame(pca.components_.T, index=df.columns, columns=[f"PC{i+1}" for i in range(n_components)])
        
        # A feature is important if it contributes highly to a PC
        importance_threshold = 0.3 
        important_features = set()

        for col in matrix.columns:
            important_features.update(matrix[matrix[col].abs() >= importance_threshold].index.tolist())

        for f in df.columns:
            result_dict[f] = f in important_features
        return pd.Series(result_dict, name="Important in PCA")

    else:
        raise ValueError("Choose method from 'variance', 'correlation', or 'pca'")

In [60]:
var_report = feature_selection("customer_info.csv", method="variance")
corr_report = feature_selection("customer_info.csv", method="correlation")
pca_report = feature_selection("customer_info.csv", method="pca", n_components=5)

summary = pd.concat([var_report, corr_report, pca_report], axis=1)
print(summary)
summary

/var/folders/8w/xvnc8k0d1qq449l7hhmfch200000gn/T/ipykernel_28413/1724397085.py:5: UserWarning: Could not infer format, so each element will be parsed individually, falling back to `dateutil`. To ensure parsing is consistent and as-expected, please specify a format.
  df['customer_birthdate'] = pd.to_datetime(df['customer_birthdate'], errors='coerce')
/var/folders/8w/xvnc8k0d1qq449l7hhmfch200000gn/T/ipykernel_28413/1724397085.py:5: UserWarning: Could not infer format, so each element will be parsed individually, falling back to `dateutil`. To ensure parsing is consistent and as-expected, please specify a format.
  df['customer_birthdate'] = pd.to_datetime(df['customer_birthdate'], errors='coerce')
/var/folders/8w/xvnc8k0d1qq449l7hhmfch200000gn/T/ipykernel_28413/1724397085.py:5: UserWarning: Could not infer format, so each element will be parsed individually, falling back to `dateutil`. To ensure parsing is consistent and as-expected, please specify a format.
  df['customer_birthdate'] = pd.to_datetime(df['customer_birthdate'], errors='coerce')

                                         Keep (Variance)  ...  Important in PCA
Unnamed: 0                                          True  ...             False
kids_home                                           True  ...              True
teens_home                                          True  ...             False
number_complaints                                   True  ...             False
distinct_stores_visited                             True  ...              True
lifetime_spend_groceries                            True  ...              True
lifetime_spend_electronics                          True  ...              True
typical_hour                                        True  ...             False
lifetime_spend_vegetables                           True  ...              True
lifetime_spend_nonalcohol_drinks                    True  ...             False
lifetime_spend_alcohol_drinks                       True  ...             False
lifetime_spend_meat                                 True  ...              True
lifetime_spend_fish                                 True  ...             False
lifetime_spend_hygiene                              True  ...              True
lifetime_spend_videogames                           True  ...              True
lifetime_spend_petfood                              True  ...             False
lifetime_total_distinct_products                    True  ...             False
percentage_of_products_bought_promotion             True  ...              True
year_first_transaction                              True  ...              True
latitude                                            True  ...             False
longitude                                           True  ...             False
age                                                 True  ...              True

[22 rows x 3 columns]

                                         Keep (Variance)  ...  Important in PCA
Unnamed: 0                                          True  ...             False
kids_home                                           True  ...              True
teens_home                                          True  ...             False
number_complaints                                   True  ...             False
distinct_stores_visited                             True  ...              True
lifetime_spend_groceries                            True  ...              True
lifetime_spend_electronics                          True  ...              True
typical_hour                                        True  ...             False
lifetime_spend_vegetables                           True  ...              True
lifetime_spend_nonalcohol_drinks                    True  ...             False
lifetime_spend_alcohol_drinks                       True  ...             False
lifetime_spend_meat                                 True  ...              True
lifetime_spend_fish                                 True  ...             False
lifetime_spend_hygiene                              True  ...              True
lifetime_spend_videogames                           True  ...              True
lifetime_spend_petfood                              True  ...             False
lifetime_total_distinct_products                    True  ...             False
percentage_of_products_bought_promotion             True  ...              True
year_first_transaction                              True  ...              True
latitude                                            True  ...             False
longitude                                           True  ...             False
age                                                 True  ...              True

[22 rows x 3 columns]

In [44]:
preprocess('customer_info.csv')

/var/folders/8w/xvnc8k0d1qq449l7hhmfch200000gn/T/ipykernel_28413/1724397085.py:5: UserWarning: Could not infer format, so each element will be parsed individually, falling back to `dateutil`. To ensure parsing is consistent and as-expected, please specify a format.
  df['customer_birthdate'] = pd.to_datetime(df['customer_birthdate'], errors='coerce')

       Unnamed: 0  kids_home  teens_home  ...  latitude  longitude       age
0       -1.000000        1.0         1.0  ... -0.753102   0.887667 -0.032258
1       -0.999941       -1.0         0.0  ... -0.379844  -0.183792  0.838710
2       -0.999883        1.0         2.0  ...  1.142705   0.280225 -0.612903
3       -0.999824       -1.0        -1.0  ... -0.172381  -0.075719 -0.193548
4       -0.999765        0.0         0.0  ...  1.107723   0.219761  0.129032
...           ...        ...         ...  ...       ...        ...       ...
34055    0.999765        0.0         0.0  ...  0.088765   1.500281 -0.903226
34056    0.999824        0.0         0.0  ... -0.079368  -0.342687 -0.451613
34057    0.999883        0.0        -1.0  ...  0.582766  -0.432914 -0.967742
34058    0.999941        0.0         0.0  ... -0.443864   0.024242  0.322581
34059    1.000000        1.0         0.0  ... -0.009613   0.036352 -0.709677

[34060 rows x 22 columns]